<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>
    <link rel="stylesheet" href="../static/css/terminos_condiciones.css">
</head>
<body>
    <div class="terminos_condiciones">
        <h2>Terminos y Condiciones</h2>
        <div class="terminos">
            <p>Estos Términos y Condiciones ("Términos") rigen el uso de los servicios de impresión 3D proporcionados por Studio 3D. Al realizar un pedido, usted acepta estos Términos.</p>

            <h3>1. Nuestros Servicios</h3>

            <p>1.1 Ofrecemos servicios de impresión 3D bajo demanda, basados en los modelos digitales (archivos STL, OBJ, etc.) proporcionados por el cliente o creados por nuestro equipo. El cliente es responsable de la calidad y el diseño del modelo digital enviado.</p>

            <h3>1.2 Proceso de Pedido</h3>

            <p>a) Cotización: Se le proporcionará una cotización basada en el modelo 3D, material, tamaño y acabado seleccionados. La cotización es válida por 7 días.</p>
            <p>b) Confirmación del Pedido: El pedido se considerará confirmado una vez que se haya realizado el pago completo.</p>

            <h3>2. Propiedad Intelectual y Licencias</h3>

            <p>2.1 Diseños del Cliente: Usted declara y garantiza que es el propietario o tiene los derechos y permisos necesarios para usar y reproducir los modelos 3D que nos envía para su impresión. La Empresa no se hace responsable por ninguna infracción de derechos de autor o propiedad intelectual que resulte de la impresión de modelos proporcionados por el cliente.</p>
            <p>2.2 Uso del Diseño: Al enviarnos un modelo 3D, usted nos otorga una licencia limitada para usar, modificar y reproducir el diseño con el único propósito de cumplir con su pedido. No usaremos, venderemos ni distribuiremos su diseño para otros fines sin su consentimiento explícito.</p>
            <p>2.3 Diseños Propios de la Empresa: Si usted compra un modelo 3D de nuestra colección, le otorgamos una licencia no exclusiva para uso personal. No tiene permiso para revender, distribuir o reproducir en masa dicho diseño.</p>

            <h3>3. Pagos y Precios</h3>

            <p>3.1 Precios: Todos los precios están en [Moneda, por ejemplo, USD, EUR, ARS] y pueden estar sujetos a impuestos locales.</p>
            <p>3.2 Formas de Pago: Aceptamos los siguientes métodos de pago: tarjeta de crédito, PayPal, transferencia bancaria, mercado pago, etc.].</p>

            <h3>4. Calidad de Productos</h3>

            <p>4.1 Calidad y Tolerancias: Los objetos impresos en 3D pueden tener variaciones menores en la superficie, color o dimensiones debido a la naturaleza del proceso. Haremos todo lo posible para que el producto final coincida con su modelo, pero no garantizamos una réplica 100% exacta. Las tolerancias de impresión son de aproximadamente 0.5 mm.</p>
            <p>4.2 Usos del Producto: Nuestros productos están diseñados para fines de exhibición, prototipos o uso personal. La Empresa no se responsabiliza si el producto se usa para fines que requieran precisión, seguridad o que estén fuera de los estándares del material seleccionado.</p>

            <h3>5. Envíos y Entregas</h3>
            
            <p>5.1 Plazos de Entrega: Los plazos de entrega estimados se proporcionarán en la cotización. Estos plazos no están garantizados y pueden variar debido a factores externos como la disponibilidad de material o el volumen de pedidos.</p>
            <p>5.2 Riesgo de Pérdida: El riesgo de pérdida y daño del producto pasa a usted en el momento de la entrega al transportista. No nos hacemos responsables de los productos dañados o perdidos durante el envío.</p>

            <h3>6. Devoluciones y Reembolsos</h3>

            <p>6.1 Productos Personalizados: Debido a que nuestros productos se fabrican bajo pedido y son únicos, no aceptamos devoluciones ni ofrecemos reembolsos a menos que el producto recibido sea incorrecto (no es el diseño que pidió) o esté significativamente defectuoso debido a un error de fabricación.</p>

            <p>6.2 Reclamaciones: Las reclamaciones por productos defectuosos deben hacerse en el día 1 a la recepción del pedido. Se requerirá evidencia fotográfica o en video del defecto.</p>

            <h3>7. Limitación de Responsabilidad</h3>

            <p>En ningún caso la Empresa será responsable por daños indirectos, incidentales, especiales o consecuentes que surjan del uso o la incapacidad de usar nuestros productos o servicios. Nuestra responsabilidad total, en cualquier caso, se limita al monto pagado por el cliente por el producto o servicio en cuestión.</p>

            <h3>8. Ley Aplicable</h3>

            <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes de la República Argentina. Cualquier disputa se resolverá en los tribunales ordinarios de la Ciudad de Mendoza, Provincia de Mendoza, Argentina.</p>

            <h3>9. Contacto</h3>

            <p>Para cualquier pregunta sobre estos Términos, por favor contáctenos en:</p>
            <a href="mailto:juanmanuelpuebla22@gmail.com?subject=Tengo una pregunta dobre los términos y condiciones&body=Hola, tengo una pregunta sobre los términos y condiciones de la línea:" target="_blank">Correo Electronico</a>
            <a href="https://wa.me/5492617129357?text=%20Hola,%20tengo%20una%20pregunta%20sobre%20los%20terminos%20y%20condiciones%20de%20la%20linea:" target="_blank">Whatsapp</a>
            <p>Argentina, Mendoza</p>

        </div>
        <a href="../templates/index.html">Volver al Inicio</a>
    </div>
</body>
</html>